/* line 1, ../scss/bubble.scss */
.bubbles {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  bottom: 0;
}

/* line 10, ../scss/bubble.scss */
.bubble {
  position: absolute;
  display: table;
}
/* line 13, ../scss/bubble.scss */
.bubble .alphabet {
  display: inline-block;
  line-height: 100px;
  text-align: center;
  width: 100px;
  font-size: 36px;
  color: #fff;
  height: 100px;
  border-radius: 50%;
  z-index: 100;
  position: relative;
}
/* line 25, ../scss/bubble.scss */
.bubble .more {
  display: none;
  position: absolute;
  width: 300px;
  height: 300px;
  margin-top: -240px;
  margin-left: 80px;
}
/* line 32, ../scss/bubble.scss */
.bubble .more .description {
  display: none;
}
/* line 36, ../scss/bubble.scss */
.bubble:hover {
  opacity: 1 !important;
  -webkit-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -o-animation-play-state: paused !important;
  animation-play-state: paused !important;
}
/* line 38, ../scss/bubble.scss */
.bubble:hover .more {
  display: table !important;
  -webkit-animation: blow 1s ease-in-out;
  -moz-animation: blow 1s ease-in-out;
  -o-animation: blow 1s ease-in-out;
  animation: blow 1s ease-in-out;
}
/* line 45, ../scss/bubble.scss */
.bubble:hover .description {
  display: table-cell !important;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  line-height: 30px;
  color: #fff;
  -webkit-animation: blow 1s ease-in-out;
  -moz-animation: blow 1s ease-in-out;
  -o-animation: blow 1s ease-in-out;
  animation: blow 1s ease-in-out;
}
/* line 58, ../scss/bubble.scss */
.bubble:hover .description .name {
  font-size: 14px;
}
/* line 61, ../scss/bubble.scss */
.bubble:hover .description .detail {
  padding: 20px;
  font-size: 12px;
}
/* line 66, ../scss/bubble.scss */
.bubble:hover .alphabet {
  width: 120px;
  height: 120px;
  margin-left: -20px;
  margin-top: -20px;
  text-indent: -9999px;
  mix-blend-mode: multiply;
  background-size: 120px 120px;
}
/* line 80, ../scss/bubble.scss */
.bubble.x1 {
  left: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.9;
  -webkit-animation: moveclouds 15s linear infinite, sideWays 10s ease-in-out infinite alternate;
  -moz-animation: moveclouds 15s linear infinite, sideWays 10s ease-in-out infinite alternate;
  -o-animation: moveclouds 15s linear infinite, sideWays 10s ease-in-out infinite alternate;
}
/* line 89, ../scss/bubble.scss */
.bubble.x1 .alphabet,
.bubble.x1 .description {
  background-color: #366695;
}
/* line 93, ../scss/bubble.scss */
.bubble.x1:hover .alphabet {
  background-image: url("../images/avatars/s.jpg");
}
/* line 97, ../scss/bubble.scss */
.bubble.x2 {
  left: 10%;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.8;
  -webkit-animation: moveclouds 25s linear infinite, sideWays 7s ease-in-out infinite alternate;
  -moz-animation: moveclouds 25s linear infinite, sideWays 7s ease-in-out infinite alternate;
  -o-animation: moveclouds 25s linear infinite, sideWays 7s ease-in-out infinite alternate;
}
/* line 106, ../scss/bubble.scss */
.bubble.x2 .alphabet,
.bubble.x2 .description {
  background-color: #47dccb;
}
/* line 110, ../scss/bubble.scss */
.bubble.x2:hover .alphabet {
  background-image: url("../images/avatars/y.jpg");
}
/* line 114, ../scss/bubble.scss */
.bubble.x3 {
  left: 20%;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.9;
  -webkit-animation: moveclouds 20s linear infinite, sideWays 15s ease-in-out infinite alternate;
  -moz-animation: moveclouds 20s linear infinite, sideWays 15s ease-in-out infinite alternate;
  -o-animation: moveclouds 20s linear infinite, sideWays 15s ease-in-out infinite alternate;
}
/* line 123, ../scss/bubble.scss */
.bubble.x3 .alphabet,
.bubble.x3 .description {
  background-color: #40abb4;
}
/* line 127, ../scss/bubble.scss */
.bubble.x3:hover .alphabet {
  background-image: url("../images/avatars/q.jpg");
}
/* line 131, ../scss/bubble.scss */
.bubble.x4 {
  left: 30%;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.7;
  -webkit-animation: moveclouds 18s linear infinite, sideWays 20s ease-in-out infinite alternate;
  -moz-animation: moveclouds 18s linear infinite, sideWays 20s ease-in-out infinite alternate;
  -o-animation: moveclouds 18s linear infinite, sideWays 20s ease-in-out infinite alternate;
}
/* line 140, ../scss/bubble.scss */
.bubble.x4 .alphabet,
.bubble.x4 .description {
  background-color: #95f4e9;
}
/* line 144, ../scss/bubble.scss */
.bubble.x4:hover .alphabet {
  background-image: url("../images/avatars/c.jpg");
}
/* line 148, ../scss/bubble.scss */
.bubble.x5 {
  left: 40%;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.6;
  -webkit-animation: moveclouds 40s linear infinite, sideWays 12s ease-in-out infinite alternate;
  -moz-animation: moveclouds 40s linear infinite, sideWays 12s ease-in-out infinite alternate;
  -o-animation: moveclouds 40s linear infinite, sideWays 12s ease-in-out infinite alternate;
}
/* line 157, ../scss/bubble.scss */
.bubble.x5 .alphabet,
.bubble.x5 .description {
  background-color: #40abb4;
}
/* line 161, ../scss/bubble.scss */
.bubble.x5:hover .alphabet {
  background-image: url("../images/avatars/m.jpg");
}
/* line 165, ../scss/bubble.scss */
.bubble.x6 {
  left: 50%;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;
  -webkit-animation: moveclouds 20s linear infinite, sideWays 8s ease-in-out infinite alternate;
  -moz-animation: moveclouds 20s linear infinite, sideWays 8s ease-in-out infinite alternate;
  -o-animation: moveclouds 20s linear infinite, sideWays 8s ease-in-out infinite alternate;
}
/* line 174, ../scss/bubble.scss */
.bubble.x6 .alphabet,
.bubble.x6 .description {
  background-color: #95f4e9;
}
/* line 178, ../scss/bubble.scss */
.bubble.x6:hover .alphabet {
  background-image: url("../images/avatars/k.jpg");
}
/* line 182, ../scss/bubble.scss */
.bubble.x7 {
  left: 60%;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.9;
  -webkit-animation: moveclouds 30s linear infinite, sideWays 12s ease-in-out infinite alternate;
  -moz-animation: moveclouds 30s linear infinite, sideWays 12s ease-in-out infinite alternate;
  -o-animation: moveclouds 30s linear infinite, sideWays 12s ease-in-out infinite alternate;
}
/* line 191, ../scss/bubble.scss */
.bubble.x7 .alphabet,
.bubble.x7 .description {
  background-color: #366695;
}
/* line 195, ../scss/bubble.scss */
.bubble.x7:hover .alphabet {
  background-image: url("../images/avatars/j.jpg");
}
/* line 199, ../scss/bubble.scss */
.bubble.x8 {
  left: 70%;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;
  -webkit-animation: moveclouds 30s linear infinite, sideWays 20s ease-in-out infinite alternate;
  -moz-animation: moveclouds 30s linear infinite, sideWays 20s ease-in-out infinite alternate;
  -o-animation: moveclouds 30s linear infinite, sideWays 20s ease-in-out infinite alternate;
}
/* line 208, ../scss/bubble.scss */
.bubble.x8 .alphabet,
.bubble.x8 .description {
  background-color: #95f4e9;
}
/* line 212, ../scss/bubble.scss */
.bubble.x8:hover .alphabet {
  background-image: url("../images/avatars/z.jpg");
}

@-webkit-keyframes moveclouds {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 100px;
  }
}
@-webkit-keyframes blow {
  0% {
    width: 100px;
    height: 100px;
    opacity: 0;
    margin-top: -100px;
    margin-left: -40px;
    color: transparent;
  }
  80% {
    color: transparent;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 1;
    margin-top: -240px;
    margin-left: 80px;
    color: #fff;
  }
}
@-moz-keyframes moveclouds {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 100px;
  }
}
@-moz-keyframes blow {
  0% {
    width: 100px;
    height: 100px;
    opacity: 0;
    margin-top: -100px;
    margin-left: -40px;
    color: transparent;
  }
  80% {
    color: transparent;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 1;
    margin-top: -240px;
    margin-left: 80px;
    color: #fff;
  }
}
@-o-keyframes moveclouds {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}
@-o-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 100px;
  }
}
@-o-keyframes blow {
  0% {
    width: 100px;
    height: 100px;
    opacity: 0;
    margin-top: -100px;
    margin-left: -40px;
    color: transparent;
  }
  80% {
    color: transparent;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 1;
    margin-top: -240px;
    margin-left: 80px;
    color: #fff;
  }
}
