.banner{
	padding-top: 60px;
	padding-bottom: 60px;
	font-size: 24px;
	text-align: left;
	margin-bottom: 40px;
	position: relative;
	color:#54A4DE;
	text-shadow: 0 1px 0 rgba(0,0,0,.1);
	background-color:#EBF4FA;
}
.navbar{
  background-color:#206BA4;
}
.navbar-default .navbar-nav>li>a{
  color:#EBF4FA;
  font-size:18px;
}
.navbar-default .navbar-brand{
  color:white;
  color:#EBF4FA;
  font-size:24px;
}
#pie{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 960px;
  height: 500px;
  font-size:24px;
  position: relative;
}
path.slice{
  stroke-width:2px;
}

polyline{
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}
#devices{
  margin-bottom: 100px;
}
.app{
  position:absolute;
  width: 10%;
  height: 10%;
}
.app a img{
  width: 100%;
  border-radius: 15px;
}
#readpeer{
  top: 77%;
  left: 33%;
}
#townsupper{
  top: 54%;
  left: 5%;
}
#clockie{
  top: 11%;
  left: 32%;
}
#qivi{
  position: absolute;
  left: 46%;
  top: 36%;
  width: 47%;
  height: 210px;
}