.banner{
	padding-top: 60px;
	padding-bottom: 60px;
	font-size: 24px;
	text-align: left;
	margin-bottom: 40px;
	position: relative;
	color:white;
	text-shadow: 0 1px 0 rgba(0,0,0,.1);
	background-color: #6f5499;
	background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
	background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
	background-repeat: repeat-x;
}

#main {
  float: left;
  width: 750px;
}

#sidebar {
  float: right;
  width: 100px;
}

#sequence {
  width: 600px;
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 260px;
  left: 305px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}