/* line 5, ../scss/style.scss */
body {
  background: white;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

/* line 10, ../scss/style.scss */
#header {
  height: 55px;
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
}
/* line 17, ../scss/style.scss */
#header .logo {
  width: 100px;
  height: 55px;
  float: left;
  cursor: pointer;
  padding: 8px;
}
/* line 24, ../scss/style.scss */
#header #toggle {
  width: 55px;
  height: 55px;
  background: url(../images/toggle.png) no-repeat center;
  float: right;
  cursor: pointer;
}

/* line 32, ../scss/style.scss */
#menu {
  width: 30%;
  min-width: 200px;
  height: 100%;
  background: #1D2636;
  right: 0;
  position: fixed;
  z-index: 1000;
  display: none;
}
/* line 41, ../scss/style.scss */
#menu #close {
  width: 29px;
  height: 29px;
  background: url(../images/cross.png) no-repeat;
  position: fixed;
  right: 0;
  cursor: pointer;
}
/* line 49, ../scss/style.scss */
#menu ul {
  margin-top: 80%;
}
/* line 51, ../scss/style.scss */
#menu ul li {
  margin: 14px;
  list-style: none;
  text-align: right;
}
/* line 55, ../scss/style.scss */
#menu ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* line 64, ../scss/style.scss */
.section .title {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 16px;
  position: absolute;
  top: 55px;
  margin: 24px auto;
}
/* line 73, ../scss/style.scss */
.section .line-container {
  width: 100%;
  height: 100%;
}
/* line 76, ../scss/style.scss */
.section .line-container .dot {
  width: 14px;
  margin: 150px auto 0;
  height: 14px;
  border-radius: 50%;
  background: #fff;
}
/* line 83, ../scss/style.scss */
.section .line-container .line {
  width: 1px;
  padding-top: 150px;
  margin: 0 auto;
  background: #fff;
}
/* line 91, ../scss/style.scss */
.section.home .rotator {
  width: 200px;
  margin: 0 auto;
  text-align: left;
  color: #356594;
  position: absolute;
  bottom: 80px;
  left: -webkit-calc(50% - 50px);
  left: calc(50% - 50px);
}
/* line 100, ../scss/style.scss */
.section.home .icon-next {
  background: url(../images/arrow.png) no-repeat;
  width: 56px;
  height: 19px;
  margin: 0 auto;
  position: absolute;
  bottom: 20px;
  left: -webkit-calc(50% - 28px);
  left: calc(50% - 28px);
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
/* line 112, ../scss/style.scss */
.section.home .icon-next:hover {
  cursor: pointer;
}
/* line 117, ../scss/style.scss */
.section.aboutUs {
  background: -webkit-linear-gradient(#94F3E8, #7BCDD2);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#94F3E8, #7BCDD2);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#94F3E8, #7BCDD2);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#94F3E8, #7BCDD2);
  /* Standard syntax */
}
/* line 122, ../scss/style.scss */
.section.aboutUs .upper-line {
  height: 30px;
  width: 1px;
  padding-top: 150px;
  margin: 0 auto;
  background: #fff;
}
/* line 129, ../scss/style.scss */
.section.aboutUs .description {
  color: #fff;
  line-height: 24px;
  width: 30%;
  margin: 0 auto;
  text-align: center;
}
/* line 136, ../scss/style.scss */
.section.aboutUs .lower-line {
  width: 1px;
  padding-top: 150px;
  margin: 0 auto;
  background: #fff;
  height: 40%;
}
/* line 143, ../scss/style.scss */
.section.aboutUs:not(.active) .bubble {
  -webkit-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -o-animation-play-state: paused !important;
  animation-play-state: paused !important;
}
/* line 150, ../scss/style.scss */
.section.services {
  background: -webkit-linear-gradient(#7BCDD2, #61A6BB);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#7BCDD2, #61A6BB);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#7BCDD2, #61A6BB);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#7BCDD2, #61A6BB);
  /* Standard syntax */
}
/* line 155, ../scss/style.scss */
.section.services .line {
  height: 100%;
}
/* line 159, ../scss/style.scss */
.section.works {
  background: -webkit-linear-gradient(#61A6BB, #437AA1);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#61A6BB, #437AA1);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#61A6BB, #437AA1);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#61A6BB, #437AA1);
  /* Standard syntax */
}
/* line 164, ../scss/style.scss */
.section.works .case {
  background: #46DBCA;
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
/* line 170, ../scss/style.scss */
.section.works .upper-line {
  width: 1px;
  height: 20%;
  margin: 0 auto;
  background: #fff;
}
/* line 176, ../scss/style.scss */
.section.works .lower-line {
  width: 1px;
  height: 5%;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #fff;
}
/* line 185, ../scss/style.scss */
.section.contact {
  background: -webkit-linear-gradient(#437AA1, #356594);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#437AA1, #356594);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#437AA1, #356594);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#437AA1, #356594);
  /* Standard syntax */
}
/* line 190, ../scss/style.scss */
.section.contact .top-line {
  width: 1px;
  height: 30%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 50%;
}
/* line 198, ../scss/style.scss */
.section.contact .dot {
  margin: 0 auto;
  position: absolute;
  left: -webkit-calc(50% - 7px);
  left: calc(50% - 7px);
  top: -webkit-calc(50% - 7px);
  top: calc(50% - 7px);
}
/* line 204, ../scss/style.scss */
.section.contact .lower-line {
  width: 1px;
  height: 20%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #fff;
}
/* line 213, ../scss/style.scss */
.section.contact .sns {
  width: 100%;
  text-align: center;
  height: 68px;
  position: absolute;
  top: 70%;
  z-index: 1000;
}
/* line 220, ../scss/style.scss */
.section.contact .sns a {
  text-decoration: none;
  line-height: 30px;
  color: #fff;
}
/* line 224, ../scss/style.scss */
.section.contact .sns a.icon {
  display: inline-block;
  curosr: pointer;
  width: 30px;
  height: 40px;
  background: url(../images/sns.png);
}
/* line 230, ../scss/style.scss */
.section.contact .sns a.icon.li {
  background-position: -34px 0;
}
/* line 233, ../scss/style.scss */
.section.contact .sns a.icon.fb {
  background-position: -64px 0;
}
/* line 239, ../scss/style.scss */
.section.contact .title {
  top: 30%;
}
/* line 242, ../scss/style.scss */
.section.contact .line {
  padding-top: 40%;
  height: 20%;
}

@media screen and (max-width: 600px) {
  /* line 249, ../scss/style.scss */
  .section.aboutUs .upper-line {
    padding-top: 50px;
  }

  /* line 252, ../scss/style.scss */
  .section.aboutUs .description {
    width: 60%;
  }
}
