/* line 5, ../scss/style.scss */
body {
  background: #fff;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

/* line 10, ../scss/style.scss */
#header {
  height: 55px;
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
}
/* line 17, ../scss/style.scss */
#header .logo {
  width: 100px;
  height: 55px;
  float: left;
  cursor: pointer;
  padding: 0 8px;
}
/* line 23, ../scss/style.scss */
#header .logo img {
  height: 55px;
}
/* line 27, ../scss/style.scss */
#header #toggle {
  width: 55px;
  height: 55px;
  background: url(../images/toggle.png) no-repeat center;
  float: right;
  cursor: pointer;
}

/* line 35, ../scss/style.scss */
#menu {
  width: 30%;
  min-width: 200px;
  height: 100%;
  background: #1D2636;
  right: 0;
  position: fixed;
  z-index: 1000;
  display: none;
}
/* line 44, ../scss/style.scss */
#menu #close {
  width: 29px;
  height: 29px;
  background: url(../images/cross.png) no-repeat;
  position: fixed;
  right: 0;
  cursor: pointer;
}
/* line 52, ../scss/style.scss */
#menu ul {
  margin-top: 80%;
}
/* line 54, ../scss/style.scss */
#menu ul li {
  margin: 14px;
  list-style: none;
  text-align: right;
}
/* line 58, ../scss/style.scss */
#menu ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* line 67, ../scss/style.scss */
.section .title {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 16px;
  position: absolute;
  top: 55px;
  margin: 24px auto;
}
/* line 76, ../scss/style.scss */
.section .line-container {
  width: 100%;
  height: 100%;
}
/* line 79, ../scss/style.scss */
.section .line-container .dot {
  width: 14px;
  margin: 250px auto 0;
  height: 14px;
  border-radius: 50%;
  background: #fff;
}
/* line 86, ../scss/style.scss */
.section .line-container .line {
  width: 1px;
  padding-top: 150px;
  margin: 0 auto;
  background: #fff;
}
/* line 94, ../scss/style.scss */
.section.home .rotator {
  width: 200px;
  margin: 0 auto;
  text-align: left;
  color: #356594;
  position: absolute;
  bottom: 80px;
  left: -webkit-calc(50% - 50px);
  left: calc(50% - 50px);
}
/* line 103, ../scss/style.scss */
.section.home .icon-next {
  background: url(../images/arrow.png) no-repeat;
  width: 56px;
  height: 19px;
  margin: 0 auto;
  position: absolute;
  bottom: 20px;
  left: -webkit-calc(50% - 28px);
  left: calc(50% - 28px);
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
/* line 115, ../scss/style.scss */
.section.home .icon-next:hover {
  cursor: pointer;
}
/* line 120, ../scss/style.scss */
.section.aboutUs {
  background: -webkit-linear-gradient(#94F3E8, #7BCDD2);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#94F3E8, #7BCDD2);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#94F3E8, #7BCDD2);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#94F3E8, #7BCDD2);
  /* Standard syntax */
}
/* line 125, ../scss/style.scss */
.section.aboutUs .upper-line {
  height: 10%;
  width: 1px;
  margin: 0 auto;
  background: #fff;
}
/* line 131, ../scss/style.scss */
.section.aboutUs .description {
  color: #fff;
  width: 220px;
  height: 220px;
  padding: 50px;
  border-radius: 50%;
  background-color: rgba(54, 102, 149, 0.3);
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}
/* line 143, ../scss/style.scss */
.section.aboutUs .lower-line {
  width: 1px;
  margin: 0 auto;
  background: #fff;
  height: 40%;
}
/* line 149, ../scss/style.scss */
.section.aboutUs:not(.active) .bubble {
  -webkit-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -o-animation-play-state: paused !important;
  animation-play-state: paused !important;
}
/* line 156, ../scss/style.scss */
.section.services {
  background: -webkit-linear-gradient(#7BCDD2, #61A6BB);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#7BCDD2, #61A6BB);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#7BCDD2, #61A6BB);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#7BCDD2, #61A6BB);
  /* Standard syntax */
}
/* line 161, ../scss/style.scss */
.section.services .line {
  height: 100%;
}
/* line 164, ../scss/style.scss */
.section.services #serviceContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 170, ../scss/style.scss */
.section.services #serviceContainer .service {
  width: 300px;
  height: 300px;
  padding: 50px;
  border-radius: 50%;
  margin: 200px auto;
  background-color: rgba(64, 171, 180, 0.8);
}
/* line 178, ../scss/style.scss */
.section.services #serviceContainer #serviceIcon {
  width: 100%;
  height: 100px;
}
/* line 182, ../scss/style.scss */
.section.services #serviceContainer #serviceTitle {
  width: 100%;
  text-align: center;
  color: #fff;
}
/* line 187, ../scss/style.scss */
.section.services #serviceContainer #serviceDescription {
  color: #fff;
  text-align: center;
  width: 100%;
  padding-top: 20px;
}
/* line 195, ../scss/style.scss */
.section.works {
  background: -webkit-linear-gradient(#61A6BB, #437AA1);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#61A6BB, #437AA1);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#61A6BB, #437AA1);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#61A6BB, #437AA1);
  /* Standard syntax */
}
/* line 200, ../scss/style.scss */
.section.works .cases {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  top: 30%;
}
/* line 206, ../scss/style.scss */
.section.works .upper-line {
  width: 1px;
  height: 20%;
  margin: 0 auto;
  background: #fff;
}
/* line 212, ../scss/style.scss */
.section.works .lower-line {
  width: 1px;
  position: absolute;
  top: -webkit-calc(55% + 250px);
  top: calc(55% + 250px);
  height: 20%;
  left: 50%;
  background-color: #fff;
}
/* line 221, ../scss/style.scss */
.section.contact {
  background: -webkit-linear-gradient(#437AA1, #356594);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#437AA1, #356594);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#437AA1, #356594);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#437AA1, #356594);
  /* Standard syntax */
}
/* line 226, ../scss/style.scss */
.section.contact .top-line {
  width: 1px;
  height: 30%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 50%;
}
/* line 234, ../scss/style.scss */
.section.contact .dot {
  margin: 0 auto;
  position: absolute;
  left: -webkit-calc(50% - 7px);
  left: calc(50% - 7px);
  top: -webkit-calc(50% - 7px);
  top: calc(50% - 7px);
}
/* line 240, ../scss/style.scss */
.section.contact .lower-line {
  width: 1px;
  height: 20%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #fff;
}
/* line 249, ../scss/style.scss */
.section.contact .sns {
  width: 100%;
  text-align: center;
  height: 68px;
  position: absolute;
  top: 70%;
  z-index: 1000;
}
/* line 256, ../scss/style.scss */
.section.contact .sns a {
  text-decoration: none;
  line-height: 30px;
  color: #fff;
}
/* line 260, ../scss/style.scss */
.section.contact .sns a.icon {
  display: inline-block;
  curosr: pointer;
  width: 30px;
  height: 40px;
  background: url(../images/sns.png);
}
/* line 266, ../scss/style.scss */
.section.contact .sns a.icon.li {
  background-position: -34px 0;
}
/* line 269, ../scss/style.scss */
.section.contact .sns a.icon.fb {
  background-position: -64px 0;
}
/* line 275, ../scss/style.scss */
.section.contact .title {
  top: 34%;
}
/* line 278, ../scss/style.scss */
.section.contact .line {
  padding-top: 40%;
  height: 20%;
}

/* line 284, ../scss/style.scss */
#case {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
  display: none;
}
/* line 292, ../scss/style.scss */
#case iframe {
  position: absolute;
  border: 0;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
  overflow-y: scroll;
}
/* line 302, ../scss/style.scss */
#case #cancel {
  width: 29px;
  height: 29px;
  background: url(../images/cross.png) no-repeat;
  position: absolute;
  right: 40px;
  top: 80px;
  z-index: 200;
  cursor: pointer;
}

/* line 313, ../scss/style.scss */
#serviceContainer {
  display: none;
}

@media screen and (max-width: 600px) {
  /* line 317, ../scss/style.scss */
  .section.aboutUs .upper-line {
    padding-top: 50px;
  }
}
/* line 322, ../scss/style.scss */
.section.aboutUs {
  display: none;
}
/* line 325, ../scss/style.scss */
.section.services {
  display: none;
}
/* line 328, ../scss/style.scss */
.section.works {
  display: none;
}
/* line 331, ../scss/style.scss */
.section.contact {
  display: none;
}
