/* line 5, ../scss/style.scss */
body {
  background: #fff;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

/* line 10, ../scss/style.scss */
#header {
  height: 55px;
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
}
/* line 17, ../scss/style.scss */
#header .logo {
  width: 100px;
  height: 55px;
  float: left;
  cursor: pointer;
  padding: 0 8px;
}
/* line 23, ../scss/style.scss */
#header .logo img {
  height: 55px;
}
/* line 27, ../scss/style.scss */
#header #toggle {
  width: 55px;
  height: 55px;
  background: url(../images/toggle.png) no-repeat center;
  float: right;
  cursor: pointer;
}

/* line 35, ../scss/style.scss */
#menu {
  width: 30%;
  min-width: 200px;
  height: 100%;
  background: #1D2636;
  right: 0;
  position: fixed;
  z-index: 1000;
  display: none;
}
/* line 44, ../scss/style.scss */
#menu #close {
  width: 57px;
  height: 57px;
  background: url(../images/cross.png) no-repeat;
  background-size: 24px 24px;
  position: fixed;
  right: 0;
  top: 20px;
  cursor: pointer;
}
/* line 54, ../scss/style.scss */
#menu ul {
  margin-top: 80%;
}
/* line 56, ../scss/style.scss */
#menu ul li {
  margin: 14px;
  list-style: none;
  text-align: right;
}
/* line 60, ../scss/style.scss */
#menu ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* line 69, ../scss/style.scss */
.section .title {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 16px;
  position: absolute;
  top: 55px;
  margin: 24px auto;
}
/* line 78, ../scss/style.scss */
.section .line-container {
  width: 100%;
  height: 100%;
}
/* line 81, ../scss/style.scss */
.section .line-container .dot {
  width: 14px;
  margin: 250px auto 0;
  height: 14px;
  border-radius: 50%;
  background: #fff;
}
/* line 88, ../scss/style.scss */
.section .line-container .line {
  width: 1px;
  padding-top: 150px;
  margin: 0 auto;
  background: #fff;
}
/* line 96, ../scss/style.scss */
.section.home .rotator {
  width: 200px;
  margin: 0 auto;
  text-align: left;
  color: #356594;
  position: absolute;
  bottom: 80px;
  opacity: 0;
  left: -webkit-calc(50% - 50px);
  left: calc(50% - 50px);
}
/* line 106, ../scss/style.scss */
.section.home .icon-next {
  background: url(../images/arrow.png) no-repeat;
  width: 56px;
  height: 19px;
  margin: 0 auto;
  position: absolute;
  bottom: 20px;
  left: -webkit-calc(50% - 28px);
  left: calc(50% - 28px);
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
/* line 118, ../scss/style.scss */
.section.home .icon-next:hover {
  cursor: pointer;
}
/* line 123, ../scss/style.scss */
.section.aboutUs {
  background: -webkit-linear-gradient(#94F3E8, #7BCDD2);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#94F3E8, #7BCDD2);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#94F3E8, #7BCDD2);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#94F3E8, #7BCDD2);
  /* Standard syntax */
}
/* line 128, ../scss/style.scss */
.section.aboutUs .upper-line {
  height: 10%;
  width: 1px;
  margin: 0 auto;
  background: #fff;
}
/* line 134, ../scss/style.scss */
.section.aboutUs .description {
  width: 240px;
  height: 240px;
  padding: 60px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: rgba(54, 102, 149, 0.2);
}
/* line 142, ../scss/style.scss */
.section.aboutUs .description span.circle {
  display: block;
  position: absolute;
  width: 220px;
  height: 220px;
  padding: 60px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: rgba(54, 102, 149, 0.2);
}
/* line 151, ../scss/style.scss */
.section.aboutUs .description span.circle.circle1 {
  margin-top: -65px;
  margin-left: -50px;
}
/* line 155, ../scss/style.scss */
.section.aboutUs .description span.circle.circle2 {
  margin-top: -65px;
  margin-left: -40px;
}
/* line 159, ../scss/style.scss */
.section.aboutUs .description span.circle.circle3 {
  margin-top: -45px;
  margin-left: -40px;
}
/* line 163, ../scss/style.scss */
.section.aboutUs .description span.circle.circle4 {
  margin-top: -45px;
  margin-left: -50px;
}
/* line 168, ../scss/style.scss */
.section.aboutUs .description span.name {
  color: #fff;
  font-size: 20px;
  display: block;
  text-align: center;
  margin-top: -20px;
  position: relative;
}
/* line 176, ../scss/style.scss */
.section.aboutUs .description span.more {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: #8eeae3;
  position: relative;
}
/* line 185, ../scss/style.scss */
.section.aboutUs .lower-line {
  width: 1px;
  margin: 0 auto;
  background: #fff;
  height: 40%;
}
/* line 191, ../scss/style.scss */
.section.aboutUs:not(.active) .bubble {
  -webkit-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -o-animation-play-state: paused !important;
  animation-play-state: paused !important;
}
/* line 198, ../scss/style.scss */
.section.services {
  background: -webkit-linear-gradient(#7BCDD2, #61A6BB);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#7BCDD2, #61A6BB);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#7BCDD2, #61A6BB);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#7BCDD2, #61A6BB);
  /* Standard syntax */
}
/* line 203, ../scss/style.scss */
.section.services .line {
  height: 100%;
}
/* line 206, ../scss/style.scss */
.section.services #serviceContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 212, ../scss/style.scss */
.section.services #serviceContainer .service {
  width: 300px;
  height: 300px;
  padding: 50px;
  border-radius: 50%;
  margin: 200px auto;
  background-color: rgba(64, 171, 180, 0.8);
}
/* line 220, ../scss/style.scss */
.section.services #serviceContainer #serviceIcon {
  width: 100%;
  height: 100px;
}
/* line 224, ../scss/style.scss */
.section.services #serviceContainer #serviceTitle {
  width: 100%;
  text-align: center;
  color: #fff;
}
/* line 229, ../scss/style.scss */
.section.services #serviceContainer #serviceDescription {
  color: #fff;
  text-align: center;
  width: 100%;
  padding-top: 20px;
}
/* line 237, ../scss/style.scss */
.section.works {
  background: -webkit-linear-gradient(#61A6BB, #437AA1);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#61A6BB, #437AA1);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#61A6BB, #437AA1);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#61A6BB, #437AA1);
  /* Standard syntax */
}
/* line 242, ../scss/style.scss */
.section.works .cases {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  top: 30%;
}
/* line 248, ../scss/style.scss */
.section.works .upper-line {
  width: 1px;
  height: 20%;
  margin: 0 auto;
  background: #fff;
}
/* line 254, ../scss/style.scss */
.section.works .lower-line {
  width: 1px;
  position: absolute;
  top: -webkit-calc(55% + 250px);
  top: calc(55% + 250px);
  height: 20%;
  left: 50%;
  background-color: #fff;
}
/* line 263, ../scss/style.scss */
.section.contact {
  background: -webkit-linear-gradient(#437AA1, #356594);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#437AA1, #356594);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#437AA1, #356594);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#437AA1, #356594);
  /* Standard syntax */
}
/* line 268, ../scss/style.scss */
.section.contact .top-line {
  width: 1px;
  height: 30%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 50%;
}
/* line 276, ../scss/style.scss */
.section.contact .dot {
  margin: 0 auto;
  position: absolute;
  left: -webkit-calc(50% - 7px);
  left: calc(50% - 7px);
  top: -webkit-calc(50% - 7px);
  top: calc(50% - 7px);
}
/* line 282, ../scss/style.scss */
.section.contact .lower-line {
  width: 1px;
  height: 20%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #fff;
}
/* line 291, ../scss/style.scss */
.section.contact .sns {
  width: 100%;
  text-align: center;
  height: 68px;
  position: absolute;
  top: 70%;
  z-index: 1000;
}
/* line 298, ../scss/style.scss */
.section.contact .sns a {
  text-decoration: none;
  line-height: 30px;
  color: #fff;
}
/* line 302, ../scss/style.scss */
.section.contact .sns a.icon {
  display: inline-block;
  curosr: pointer;
  width: 30px;
  height: 40px;
  background: url(../images/sns.png);
}
/* line 308, ../scss/style.scss */
.section.contact .sns a.icon.li {
  background-position: -34px 0;
}
/* line 311, ../scss/style.scss */
.section.contact .sns a.icon.fb {
  background-position: -64px 0;
}
/* line 317, ../scss/style.scss */
.section.contact .title {
  top: 34%;
}
/* line 320, ../scss/style.scss */
.section.contact .line {
  padding-top: 40%;
  height: 20%;
}

/* line 326, ../scss/style.scss */
#case {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
  display: none;
}
/* line 334, ../scss/style.scss */
#case iframe {
  position: absolute;
  border: 0;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
  overflow-y: scroll;
}
/* line 344, ../scss/style.scss */
#case #cancel {
  width: 57px;
  height: 57px;
  background: url(../images/cross.png) no-repeat;
  position: absolute;
  right: 40px;
  top: 80px;
  z-index: 200;
  cursor: pointer;
}

/* line 355, ../scss/style.scss */
#serviceContainer {
  display: none;
}

@media screen and (max-width: 600px) {
  /* line 359, ../scss/style.scss */
  .section.aboutUs .upper-line {
    padding-top: 50px;
  }

  /* line 362, ../scss/style.scss */
  .section.services #serviceContainer .service {
    padding: 10px !important;
  }
}
/* line 367, ../scss/style.scss */
.section.aboutUs {
  display: none;
}
/* line 370, ../scss/style.scss */
.section.services {
  display: none;
}
/* line 373, ../scss/style.scss */
.section.works {
  display: none;
}
/* line 376, ../scss/style.scss */
.section.contact {
  display: none;
}
