.bubbles{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  bottom: 0;
}

.bubble{
  position: absolute;
  display: table;
  .alphabet{
    display: inline-block;
    line-height: 100px;
    text-align: center;
    width: 100px;
    font-size: 36px;
    color: #fff;
    height: 100px;
    border-radius:50%;
    z-index: 100;
    position: relative;
  }
  .more{
    display: none;
    position: absolute;
    width: 300px;
    height: 300px;
    margin-top: -240px;
    margin-left: 80px;
    .description{
      display: none;
    }
  }
  &:hover{
    opacity: 1!important;
    .more{
      display: table!important;
      -webkit-animation: blow 1s ease-in-out;
      -moz-animation: blow 1s ease-in-out;
      -o-animation: blow 1s ease-in-out;
      animation: blow 1s ease-in-out;
    }
    .description{
      display: table-cell!important;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%;
      width: 300px;
      height: 300px;
      line-height: 30px;
      color: #fff;
      -webkit-animation: blow 1s ease-in-out;
      -moz-animation: blow 1s ease-in-out;
      -o-animation: blow 1s ease-in-out;
      animation: blow 1s ease-in-out;
      .name{
        font-size: 14px;
      }
      .detail{
        padding: 20px;
        font-size: 12px;
      }
    }
    .alphabet{
      width: 120px;
      height: 120px;
      margin-left: -20px;
      margin-top: -20px;
      text-indent:-9999px;
      background-size: 120px 120px;
    }
    -webkit-animation-play-state: paused!important;
    -moz-animation-play-state:paused!important;
    -o-animation-play-state:paused!important;
    animation-play-state:paused!important;
  }
  &.x1{
    left:0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.9;
    -webkit-animation: moveclouds 15s linear infinite, sideWays 10s ease-in-out infinite alternate;
    -moz-animation: moveclouds 15s linear infinite, sideWays 10s ease-in-out infinite alternate;
    -o-animation: moveclouds 15s linear infinite, sideWays 10s ease-in-out infinite alternate;
    .alphabet,
    .description{
      background-color:#366695;
    }
    &:hover .alphabet{
      background-image: url("../images/avatars/s.jpg");
    }
  }
  &.x2{
    left: 10%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.8;
    -webkit-animation: moveclouds 25s linear infinite, sideWays 7s ease-in-out infinite alternate;
    -moz-animation: moveclouds 25s linear infinite, sideWays 7s ease-in-out infinite alternate;
    -o-animation: moveclouds 25s linear infinite, sideWays 7s ease-in-out infinite alternate;
    .alphabet,
    .description{
      background-color:#47dccb;
    }
    &:hover .alphabet{
      background-image: url("../images/avatars/y.jpg");
    }
  }
  &.x3{
    left: 20%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.9;
    -webkit-animation: moveclouds 20s linear infinite, sideWays 15s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite, sideWays 15s ease-in-out infinite alternate;
    -o-animation: moveclouds 20s linear infinite, sideWays 15s ease-in-out infinite alternate;
    .alphabet,
    .description{
      background-color:#40abb4;
    }
    &:hover .alphabet{
      background-image: url("../images/avatars/q.jpg");
    }
  }
  &.x4{
    left: 30%;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.7;
    -webkit-animation: moveclouds 18s linear infinite, sideWays 20s ease-in-out infinite alternate;
    -moz-animation: moveclouds 18s linear infinite, sideWays 20s ease-in-out infinite alternate;
    -o-animation: moveclouds 18s linear infinite, sideWays 20s ease-in-out infinite alternate;
    .alphabet,
    .description{
      background-color:#95f4e9;
    }
    &:hover .alphabet{
      background-image: url("../images/avatars/c.jpg");
    }
  }
  &.x5{
    left: 40%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.6;
    -webkit-animation: moveclouds 40s linear infinite, sideWays 12s ease-in-out infinite alternate;
    -moz-animation: moveclouds 40s linear infinite, sideWays 12s ease-in-out infinite alternate;
    -o-animation: moveclouds 40s linear infinite, sideWays 12s ease-in-out infinite alternate;
    .alphabet,
    .description{
      background-color:#40abb4;
    }
    &:hover .alphabet{
      background-image: url("../images/avatars/m.jpg");
    }
  }
  &.x6{
    left: 50%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    -webkit-animation: moveclouds 20s linear infinite, sideWays 8s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite, sideWays 8s ease-in-out infinite alternate;
    -o-animation: moveclouds 20s linear infinite, sideWays 8s ease-in-out infinite alternate;
    .alphabet,
    .description{
      background-color:#95f4e9;
    }
    &:hover .alphabet{
      background-image: url("../images/avatars/k.jpg");
    }
  }
  &.x7{
    left: 60%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.9;
    -webkit-animation: moveclouds 30s linear infinite, sideWays 12s ease-in-out infinite alternate;
    -moz-animation: moveclouds 30s linear infinite, sideWays 12s ease-in-out infinite alternate;
    -o-animation: moveclouds 30s linear infinite, sideWays 12s ease-in-out infinite alternate;
    .alphabet,
    .description{
      background-color:#366695;
    }
    &:hover .alphabet{
      background-image: url("../images/avatars/j.jpg");
    }
  }
  &.x8{
    left: 70%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    -webkit-animation: moveclouds 30s linear infinite, sideWays 20s ease-in-out infinite alternate;
    -moz-animation: moveclouds 30s linear infinite, sideWays 20s ease-in-out infinite alternate;
    -o-animation: moveclouds 30s linear infinite, sideWays 20s ease-in-out infinite alternate;
    .alphabet,
    .description{
      background-color:#95f4e9;
    }
    &:hover .alphabet{
      background-image: url("../images/avatars/z.jpg");
    }
  }
}

@-webkit-keyframes moveclouds {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

@-webkit-keyframes sideWays {
  0% {
    margin-left:0px;
  }
  100% {
    margin-left:100px;
  }
}

@-webkit-keyframes blow {
  0% {
    width: 100px;
    height: 100px;
    opacity: 0;
    margin-top: -100px;
    margin-left: -40px;
    color: transparent;
  }
  80%{
    color: transparent;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 1;
    margin-top: -240px;
    margin-left: 80px;
    color: #fff;
  }
}

@-moz-keyframes moveclouds {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

@-moz-keyframes sideWays {
  0% {
    margin-left:0px;
  }
  100% {
    margin-left:100px;
  }
}


@-moz-keyframes blow {
  0% {
    width: 100px;
    height: 100px;
    opacity: 0;
    margin-top: -100px;
    margin-left: -40px;
    color: transparent;
  }
  80%{
    color: transparent;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 1;
    margin-top: -240px;
    margin-left: 80px;
    color: #fff;
  }
}

@-o-keyframes moveclouds {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

@-o-keyframes sideWays {
  0% {
    margin-left:0px;
  }
  100% {
    margin-left:100px;
  }
}


@-o-keyframes blow {
  0% {
    width: 100px;
    height: 100px;
    opacity: 0;
    margin-top: -100px;
    margin-left: -40px;
    color: transparent;
  }
  80%{
    color: transparent;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 1;
    margin-top: -240px;
    margin-left: 80px;
    color: #fff;
  }
}