.blobs{
  filter: url("../images/blur.svg#goo");
  -webkit-filter: url("#goo");
  -moz-filter: url("#goo");
  -o-filter: url("#goo");
  -ms-filter: url("#goo");
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}
$dist-x:65px;
$dist-y:65px;
$dist-memx:250px;
$dist-memy:250px;
@-webkit-keyframes blob-left-top-anim{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    -webkit-transform:scale(1.1) translate(-$dist-x,-$dist-y);
  }
  33%{
    -webkit-transform:scale(0.7) translate($dist-x,-$dist-y);
  }
  62%{
    -webkit-transform:scale(0.4) translate(2*$dist-x,1.5*$dist-y);
  }
  94%{
    -webkit-transform:scale(0.4) translate(-2*$dist-x,-$dist-y);
  }
}
@keyframes blob-left-top-anim{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    transform:scale(1.1) translate(-$dist-x,-$dist-y);
  }
  33%{
    transform:scale(0.7) translate($dist-x,-$dist-y);
  }
  62%{
    transform:scale(0.4) translate(2*$dist-x,1.5*$dist-y);
  }
  94%{
    transform:scale(0.4) translate(-2*$dist-x,-$dist-y);
  }
}
@-webkit-keyframes blob-right-top-anim{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    -webkit-transform:scale(0.7) translate($dist-x,-$dist-y);
  }
  33%{
    -webkit-transform:scale(0.6) translate(-$dist-x,$dist-y);
  }
  64%{
    -webkit-transform:scale(0.7) translate($dist-x,-$dist-y);
  }
  96%{
    -webkit-transform:scale(0.4) translate($dist-x,-$dist-y);
  }
}
@keyframes blob-right-top-anim{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    transform:scale(0.7) translate($dist-x,-$dist-y);
  }
  33%{
    transform:scale(0.6) translate(-$dist-x,$dist-y);
  }
  64%{
    transform:scale(0.7) translate($dist-x,-$dist-y);
  }
  96%{
    transform:scale(0.4) translate($dist-x,-$dist-y);
  }
}
@-webkit-keyframes blob-left-bottom-anim{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    -webkit-transform:scale(0.6) translate(-$dist-x,$dist-y);
  }
  33%{
    -webkit-transform:scale(0.6) translate($dist-x,$dist-y);
  }
  66%{
    -webkit-transform:scale(0.6) translate(-$dist-x,$dist-y);
  }
  78%{
    -webkit-transform:scale(0.4) translate(-$dist-x,$dist-y);
  }
}
@keyframes blob-left-bottom-anim{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    transform:scale(0.6) translate(-$dist-x,$dist-y);
  }
  33%{
    transform:scale(0.6) translate($dist-x,-$dist-y);
  }
  66%{
    transform:scale(0.6) translate(-$dist-x,$dist-y);
  }
  78%{
    transform:scale(0.4) translate(-$dist-x,$dist-y);
  }
}
@-webkit-keyframes blob-right-bottom-anim{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    -webkit-transform:scale(0.4) translate(2*$dist-x,1.5*$dist-y);
  }
  33%{
    -webkit-transform:scale(1.1) translate(-$dist-x,-$dist-y);
  }
  68%{
    -webkit-transform:scale(1.1) translate(-$dist-x,-$dist-y);
  }
  80%{
    -webkit-transform:scale(0.4) translate(2*$dist-x,2*$dist-y);
  }
}
@keyframes blob-right-bottom-anim{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    transform:scale(0.4) translate(2*$dist-x,1.5*$dist-y);
  }
  33%{
    transform:scale(1.1) translate(-$dist-x,-$dist-y);
  }
  68%{
    transform:scale(1.1) translate(-$dist-x,-$dist-y);
  }
  80%{
    transform:scale(0.4) translate(2*$dist-x,2*$dist-y);
  }
}

@-webkit-keyframes member1{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    -webkit-transform:scale(0.4) translate(2*$dist-memx,1.5*$dist-memy);
  }
  33%{
    -webkit-transform:scale(1.1) translate(-$dist-memx,-$dist-memy);
  }
  68%{
    -webkit-transform:scale(1.1) translate(-$dist-memx,-$dist-memy);
  }
  80%{
    -webkit-transform:scale(0.4) translate(2*$dist-memx,2*$dist-memy);
  }
}
@keyframes member1{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    transform:scale(0.4) translate(2*$dist-memx,1.5*$dist-memy);
  }
  33%{
    transform:scale(1.1) translate(-$dist-memx,-$dist-memy);
  }
  68%{
    transform:scale(1.1) translate(-$dist-memx,-$dist-memy);
  }
  80%{
    transform:scale(0.4) translate(2*$dist-memx,2*$dist-memy);
  }
}

@-webkit-keyframes member2{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    -webkit-transform:scale(0.4) translate(-0.5*$dist-memx,0.5*$dist-memy);
  }
  33%{
    -webkit-transform:scale(1.1) translate(-$dist-memx,$dist-memy);
  }
  68%{
    -webkit-transform:scale(1.1) translate($dist-memx,-$dist-memy);
  }
  80%{
    -webkit-transform:scale(0.4) translate($dist-memx,2*$dist-memy);
  }
}
@keyframes member2{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    -webkit-transform:scale(0.4) translate(-0.5*$dist-memx,0.5*$dist-memy);
  }
  33%{
    -webkit-transform:scale(1.1) translate(-$dist-memx,$dist-memy);
  }
  68%{
    -webkit-transform:scale(1.1) translate($dist-memx,-$dist-memy);
  }
  80%{
    -webkit-transform:scale(0.4) translate($dist-memx,2*$dist-memy);
  }
}

@-webkit-keyframes member3{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    -webkit-transform:scale(0.4) translate(-$dist-memx,1.5*$dist-memy);
  }
  33%{
    -webkit-transform:scale(1.1) translate($dist-memx,$dist-memy);
  }
  68%{
    -webkit-transform:scale(1.1) translate($dist-memx,-$dist-memy);
  }
  80%{
    -webkit-transform:scale(0.4) translate(2*$dist-memx,2*$dist-memy);
  }
}
@keyframes member3{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    -webkit-transform:scale(0.4) translate(-$dist-memx,1.5*$dist-memy);
  }
  33%{
    -webkit-transform:scale(1.1) translate($dist-memx,$dist-memy);
  }
  68%{
    -webkit-transform:scale(1.1) translate($dist-memx,-$dist-memy);
  }
  80%{
    -webkit-transform:scale(0.4) translate(2*$dist-memx,2*$dist-memy);
  }
}

@-webkit-keyframes member4{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    -webkit-transform:scale(0.4) translate($dist-memx,$dist-memy);
  }
  33%{
    -webkit-transform:scale(1.1) translate(2*$dist-memx,$dist-memy);
  }
  68%{
    -webkit-transform:scale(1.1) translate($dist-memx,$dist-memy);
  }
  80%{
    -webkit-transform:scale(0.4) translate($dist-memx,$dist-memy);
  }
}
@keyframes member4{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    -webkit-transform:scale(0.4) translate($dist-memx,$dist-memy);
  }
  33%{
    -webkit-transform:scale(1.1) translate(2*$dist-memx,$dist-memy);
  }
  68%{
    -webkit-transform:scale(1.1) translate($dist-memx,$dist-memy);
  }
  80%{
    -webkit-transform:scale(0.4) translate($dist-memx,$dist-memy);
  }
}

@-webkit-keyframes member5{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    -webkit-transform:scale(0.4) translate(-$dist-memx,0);
  }
  33%{
    -webkit-transform:scale(1.1) translate(-$dist-memx,$dist-memy);
  }
  68%{
    -webkit-transform:scale(1.1) translate($dist-memx,0.5*$dist-memy);
  }
  80%{
    -webkit-transform:scale(0.4) translate($dist-memx,0);
  }
}
@keyframes member5{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    -webkit-transform:scale(0.4) translate(-$dist-memx,0);
  }
  33%{
    -webkit-transform:scale(1.1) translate(-$dist-memx,$dist-memy);
  }
  68%{
    -webkit-transform:scale(1.1) translate($dist-memx,0.5*$dist-memy);
  }
  80%{
    -webkit-transform:scale(0.4) translate($dist-memx,0);
  }
}

@-webkit-keyframes member6{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    -webkit-transform:scale(0.4) translate(-$dist-memx,2*$dist-memy);
  }
  33%{
    -webkit-transform:scale(1.1) translate(-$dist-memx,0);
  }
  68%{
    -webkit-transform:scale(1.1) translate($dist-memx,0);
  }
  80%{
    -webkit-transform:scale(0.4) translate($dist-memx,0.5*$dist-memy);
  }
}
@keyframes member6{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    -webkit-transform:scale(0.4) translate(-$dist-memx,2*$dist-memy);
  }
  33%{
    -webkit-transform:scale(1.1) translate(-$dist-memx,0);
  }
  68%{
    -webkit-transform:scale(1.1) translate($dist-memx,0);
  }
  80%{
    -webkit-transform:scale(0.4) translate($dist-memx,0.5*$dist-memy);
  }
}

@-webkit-keyframes member7{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    -webkit-transform:scale(0.4) translate(-0.5*$dist-memx,1.5*$dist-memy);
  }
  33%{
    -webkit-transform:scale(1.1) translate(0,0.5*$dist-memy);
  }
  68%{
    -webkit-transform:scale(1.1) translate(0,-0.5*$dist-memy);
  }
  80%{
    -webkit-transform:scale(0.4) translate(1.5*$dist-memx,-$dist-memy);
  }
}
@keyframes member7{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    -webkit-transform:scale(0.4) translate(-0.5*$dist-memx,1.5*$dist-memy);
  }
  33%{
    -webkit-transform:scale(1.1) translate(0,0.5*$dist-memy);
  }
  68%{
    -webkit-transform:scale(1.1) translate(0,-0.5*$dist-memy);
  }
  80%{
    -webkit-transform:scale(0.4) translate(1.5*$dist-memx,-$dist-memy);
  }
}

@-webkit-keyframes member8{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    -webkit-transform:scale(0.4) translate(-0.5*$dist-memx,-1.5*$dist-memy);
  }
  33%{
    -webkit-transform:scale(0.4) translate(-$dist-memx,-$dist-memy);
  }
  68%{
    -webkit-transform:scale(0.4) translate($dist-memx,$dist-memy);
  }
  80%{
    -webkit-transform:scale(0.4) translate(2*$dist-memx,0);
  }
}
@keyframes member8{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    -webkit-transform:scale(0.4) translate(-0.5*$dist-memx,-1.5*$dist-memy);
  }
  33%{
    -webkit-transform:scale(0.4) translate(-$dist-memx,-$dist-memy);
  }
  68%{
    -webkit-transform:scale(0.4) translate($dist-memx,$dist-memy);
  }
  80%{
    -webkit-transform:scale(0.4) translate(2*$dist-memx,0);
  }
}
.blob{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  text-align: center;
  font-size: 36px;
  color: #fff;
  line-height: 100px;
  height: 100px;
  margin-top:-50px;
  margin-left:-50px;
  border-radius:50%;
  mix-blend-mode: multiply;
  animation:blob-left-top-anim cubic-bezier(0.770, 0.000, 0.175, 1.000) 10s infinite;
  -webkit-animation:blob-left-top-anim cubic-bezier(0.770, 0.000, 0.175, 1.000) 10s infinite;
  &.blob1{
    background:#366695;
  }
  &.blob2{
    background:#47dccb;
  }
  &.blob3{
    background:#40abb4;
  }
  &.blob4{
    background:#95f4e9;
  }
  &:nth-child(2){
    -webkit-animation-name:blob-right-top-anim;
    animation-name:blob-right-top-anim;
  }
  &:nth-child(3){
    -webkit-animation-name:blob-left-bottom-anim;
    animation-name:blob-left-bottom-anim;
  }
  &:nth-child(4){
    -webkit-animation-name:blob-right-bottom-anim;
    animation-name:blob-right-bottom-anim;
  }
}