.menu {
  width: 100%;
  height: 200px;
  margin: 0 auto 100px;
  position: absolute;
  top: 320px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.menu-wrapper {
  position: absolute;
  left: 50%;
  bottom: 10px;
}

.menu-toggle-button,
.menu-item-bounce,
.menu-item-button {
  background: #64d0d4;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin-left: -45px;
  margin-top: -45px;
  color: #fff;
  border: none;
  outline: none;
  position: relative;
}

.menu-toggle-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
  background: url(../images/plus.png) no-repeat center;
}

.menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.menu-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.menu-item-bounce {
  position: absolute;
  top: 0;
  left: 0;
}

.menu-item-button {
  position: absolute;
  top: 0;
  left: 0;
  color: #AD4C4C;
  span{
	   display:none;
	   font-size: 16px;
  }
  &.icon-web{
    background-color: #5ef3e7;
    width: 140px;
    height: 140px;
    margin-left: -70px;
    margin-top: -70px;
    .icon{
      background: url(../images/web.png) no-repeat center;
    }
  }
  &.icon-app{
    width: 160px;
    height: 160px;
    margin-left: -80px;
    margin-top: -80px;
    background-color: #64e7e1;
    .icon{
      background: url(../images/app.png) no-repeat center;
    }
  }
  &.icon-all{
    background-color: #66d7d8;
    width: 140px;
    height: 140px;
    margin-left: -70px;
    margin-top: -70px;
    .icon{
      background: url(../images/all.png) no-repeat center;
    }
  }
  .icon{
    width: 100px;
    height: 100px;
    display: inline-block;
  }
  &:hover {
    color: #fff;
    cursor: pointer;
    span{
      display:block;
    }
    i{
      display: none;
    }
  }
}