.menu {
  width: 100%;
  height: 200px;
  margin: 0 auto 100px;
  position: absolute;
  top: 300px;
  filter: url("../images/blur.svg#goo");
  -webkit-filter: url("#goo");
  -moz-filter: url("#goo");
  -o-filter: url("#goo");
  -ms-filter: url("#goo");
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.menu-wrapper {
  position: absolute;
  left: 50%;
  bottom: 10px;
}

.menu-toggle-button,
.menu-item-bounce,
.menu-item-button {
  background: #94F3E8;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  margin-left: -55px;
  margin-top: -55px;
  color: #fff;
  border: none;
  outline: none;
  position: relative;
}

.menu-toggle-button {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.menu-toggle-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 110px;
  background: url(../images/plus.png) no-repeat center;
}

.menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.menu-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.menu-item-bounce {
  position: absolute;
  top: 0;
  left: 0;
}

.menu-item-button {
  width: 110px;
  height: 110px;
  margin-left: -55px;
  margin-top: -55px;
  position: absolute;
  top: 0;
  left: 0;
  color: #AD4C4C;
  span{
	display:none;
	font-size: 16px;
  }
  &:hover span{
	display:block;
  }
  &:hover i{
	display: none;
  }
}

.menu-item-button:hover {
  color: #fff;
  cursor: pointer;
}
.icon{
  width: 100px;
  height: 100px;
  display: inline-block;
  &.icon-web{
	background: url(../images/web.png) no-repeat center;
  }
  &.icon-app{
	background: url(../images/app.png) no-repeat center;
  }
  &.icon-all{
	background: url(../images/all.png) no-repeat center;
  }
}