.blobs{
  filter: url("http://labs.fooyo.sg/v4/images/blur.svg#goo");
  -webkit-filter: url("#goo");
  -moz-filter: url("#goo");
  -o-filter: url("#goo");
  -ms-filter: url("#goo");
  position:absolute;
  top:36px;
  left:50%;
  bottom:0;
  right:0;
}
$dist-x:85px;
$dist-y:85px;
@-webkit-keyframes blob-left-top-anim{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    -webkit-transform:scale(1.1) translate(-$dist-x,-$dist-y);
  }
  33%{
    -webkit-transform:scale(0.7) translate($dist-x,-$dist-y);
  }
  62%{
    -webkit-transform:scale(0.4) translate(2*$dist-x,1.5*$dist-y);
  }
  84%{
    -webkit-transform:scale(0.4) translate(-2*$dist-x,-$dist-y);
  }
  90%{
    -webkit-transform:scale(0.5) translate(-1.5*$dist-x,0);
  }
  99%{
    -webkit-transform:scale(1) translate(0,0.5*$dist-y);
  }
}
@keyframes blob-left-top-anim{
  0%{
    transform:scale(1) translate(0,0);
  }
  10%{
    transform:scale(1.1) translate(-$dist-x,-$dist-y);
  }
  33%{
    transform:scale(0.7) translate($dist-x,-$dist-y);
  }
  62%{
    transform:scale(0.4) translate(2*$dist-x,1.5*$dist-y);
  }
  84%{
    transform:scale(0.4) translate(-2*$dist-x,-$dist-y);
  }
  90%{
    transform:scale(0.5) translate(-1.5*$dist-x,0);
  }
  99%{
    transform:scale(1) translate(0,0.5*$dist-y);
  }
}
@-webkit-keyframes blob-right-top-anim{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    -webkit-transform:scale(0.7) translate($dist-x,-$dist-y);
  }
  33%{
    -webkit-transform:scale(0.6) translate(-$dist-x,$dist-y);
  }
  64%{
    -webkit-transform:scale(0.7) translate($dist-x,-$dist-y);
  }
  78%{
    -webkit-transform:scale(0.4) translate($dist-x,-$dist-y);
  }
  90%{
    -webkit-transform:scale(0.5) translate(0,1.5*$dist-y);
  }
  99%{
    -webkit-transform:scale(1) translate(0,-0.5*$dist-y);
  }
}
@keyframes blob-right-top-anim{
  0%{
    transform:scale(1) translate(0,0);
  }
  10%{
    transform:scale(0.7) translate($dist-x,-$dist-y);
  }
  33%{
    transform:scale(0.6) translate(-$dist-x,$dist-y);
  }
  64%{
    transform:scale(0.7) translate($dist-x,-$dist-y);
  }
  78%{
    transform:scale(0.4) translate($dist-x,-$dist-y);
  }
  90%{
    transform:scale(0.5) translate(0, 1.5*$dist-y);
  }
  99%{
    transform:scale(1) translate(0,-0.5*$dist-y);
  }
}
@-webkit-keyframes blob-left-bottom-anim{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    -webkit-transform:scale(0.6) translate(-$dist-x,$dist-y);
  }
  33%{
    -webkit-transform:scale(0.6) translate($dist-x,$dist-y);
  }
  66%{
    -webkit-transform:scale(0.6) translate(-$dist-x,$dist-y);
  }
  78%{
    -webkit-transform:scale(0.4) translate(-$dist-x,$dist-y);
  }
  90%{
    -webkit-transform:scale(0.5) translate(1.5*$dist-x,0);
  }
  99%{
    -webkit-transform:scale(1) translate(0.5*$dist-x,0);
  }
}
@keyframes blob-left-bottom-anim{
  0%{
    transform:scale(1) translate(0,0);
  }
  10%{
    transform:scale(0.6) translate(-$dist-x,$dist-y);
  }
  33%{
    transform:scale(0.6) translate($dist-x,$dist-y);
  }
  66%{
    transform:scale(0.6) translate(-$dist-x,$dist-y);
  }
  78%{
    transform:scale(0.4) translate(-$dist-x,$dist-y);
  }
  90%{
    transform:scale(0.5) translate(1.5*$dist-x,0);
  }
  99%{
    transform:scale(1) translate(0.5*$dist-x,0);
  }
}
@-webkit-keyframes blob-right-bottom-anim{
  0%{
    -webkit-transform:scale(1) translate(0,0);
  }
  10%{
    -webkit-transform:scale(0.4) translate(2*$dist-x,1.5*$dist-y);
  }
  33%{
    -webkit-transform:scale(1.1) translate(-$dist-x,-$dist-y);
  }
  68%{
    -webkit-transform:scale(1.1) translate(-$dist-x,-$dist-y);
  }
  80%{
    -webkit-transform:scale(0.4) translate(2*$dist-x,2*$dist-y);
  }
  90%{
    -webkit-transform:scale(0.5) translate(0,-1.5*$dist-y);
  }
  99%{
    -webkit-transform:scale(1) translate(-0.5*$dist-x,0);
  }
}
@keyframes blob-right-bottom-anim{
  0%{
    transform:scale(1) translate(0,0);
  }
  10%{
    transform:scale(0.4) translate(2*$dist-x,1.5*$dist-y);
  }
  33%{
    transform:scale(1.1) translate(-$dist-x,-$dist-y);
  }
  68%{
    transform:scale(1.1) translate(-$dist-x,-$dist-y);
  }
  80%{
    transform:scale(0.4) translate(2*$dist-x,2*$dist-y);
  }
  90%{
    transform:scale(0.5) translate(0,-1.5*$dist-y);
  }
  99%{
    transform:scale(1) translate(-0.5*$dist-x,0);
  }
}
.blob{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 140px;
  text-align: center;
  font-size: 36px;
  color: #fff;
  line-height: 140px;
  height: 140px;
  margin-top:-70px;
  margin-left:-70px;
  border-radius:50%;
  mix-blend-mode: multiply;
  animation:blob-left-top-anim cubic-bezier(0.770, 0.000, 0.175, 1.000) 10s infinite;
  -webkit-animation:blob-left-top-anim cubic-bezier(0.770, 0.000, 0.175, 1.000) 10s infinite;
  &.blob1{
    background:#366695;
  }
  &.blob2{
    background:#47dccb;
  }
  &.blob3{
    background:#40abb4;
  }
  &.blob4{
    background:#95f4e9;
  }
  &:nth-child(2){
    -webkit-animation-name:blob-right-top-anim;
    animation-name:blob-right-top-anim;
  }
  &:nth-child(3){
    -webkit-animation-name:blob-left-bottom-anim;
    animation-name:blob-left-bottom-anim;
  }
  &:nth-child(4){
    -webkit-animation-name:blob-right-bottom-anim;
    animation-name:blob-right-bottom-anim;
  }
}